<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body class="bg-opacity-50">
<div class="w-100 min-vh-100 d-flex justify-content-center align-items-center bg-white" >
    <form class="p-5 shadow" id="login-form">
        <h2 class="pb-3 text-center mt-5 mb-3">예매하다</h2>
        <div class="form-group pb-2 d-flex row align-items-stretch">
            <div class="input-group my-2 px-0" id="id-input" >
                <div class="input-group-prepend">
                    <span class="input-group-text border-0 bg-white">
                        <i class="bi bi-person"></i>
                    </span>
                </div>
                <input type="text" class="form-control border-0" placeholder="아이디">
            </div>
            <div class="input-group my-2 px-0" id="pass-input">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0 bg-white">
                        <i class="bi bi-lock"></i>
                    </span>
                </div>
                <input type="text" class="form-control border-0" placeholder="비밀번호">
            </div>
            <button type="submit" class="btn btn-primary w-100 fw-bolder my-2" id="login-button">로그인</button>
        </div>
        <div id="login-submenu" class="d-flex justify-content-center">
                <a href="#" class="text-decoration-none">아이디 찾기</a>
                <a href="#" class="text-decoration-none">비밀번호 찾기</a>
                <a href="#" class="text-decoration-none">회원가입</a>
        </div>



        <div class="text-center" id="simple-login">
            <small class="fs-6 fw-bolder">간편 로그인</small>
        </div>

        <div class="text-center" id="simple-login-img">
            <button type="submit" class="btn btn-outline-none py-3" >
                <img src="images/login/circle_naver.png" alt="naver" class="icon">
            </button>
            <button type="submit" class="btn btn-outline-none py-3" >
                <img src="images/login/circle_kakao.png" alt="kakao" class="icon">
            </button>
        </div>

        <div class="text-center mt-5" id="login-problem">
            <a href="#" class="fs-6 fw-bolder">※ 회원가입/로그인에 문제가 있어요!></a>
        </div>
    </form>
</div>
</body>
</html>