body {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden ;
}

#sticky {
    margin: 0 auto;
    width: 1100px;
}

#top-nav a {
    font-size: 13px;
}

#carousel {
    background-color: #FFF7EB;
    height: 442px;
}

#carousel img {
    width: 850px;
    margin: 0 auto;
    display: block;
}

#new-open, #time-sale {
    margin-top: 60px;
    background-color: #F6F6F6;
    height: 580px;
}

#time-sale {
    background-color: #FFF7EB;
}

.cards-wrapper {
    overflow: hidden;
    position: relative;
}

.cards {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    width: 200px;
    height: 410px;
    flex: 0 0 200px; /* 220px 너비를 가지는 5개의 카드를 1100px에 맞추기 위함 */
    margin-right: 20px; /* 카드 사이의 간격 */
    flex-direction: column;
    align-items: start;
    border: 0 solid #000;
    border-radius: 10px;
}

.card:hover {
    /*    위로 조금 이동*/
    transform: translateY(-10px);
    transition: transform 0.5s;
    cursor: pointer;
}

.card-body .area {
    font-size: 12px;
    margin-bottom: 5px;
    background-color: #F6F6F6;
    padding: 2px;
    border-radius: 10px;
}

.card-body .category {
    font-size: 12px;
    margin-bottom: 5px;
}

.prev-btn, .next-btn {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.card-body .category i {
    color: orange;
}

.ticket-price .discount, .ticket-price .price {
    font-size: 20px;
    font-weight: bolder;
}

.ticket-price .discount {
    color: #FF0000;
}

.bi-ticket-perforated-fill, .bi-cash-stack, .bi-person-raised-hand, .bi-star-fill {
    color: orange;
}

#extra-info {
    margin-top: 60px;
    background-color: #F6F6F6;
    height: 250px;
}

footer>div>div {
    padding: 20px;
    width: 100%;
}

#introduction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid lightgray;
    height: 80%;
    justify-content: space-evenly;
    padding-left: 2rem;
}

#introduction a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    color: #555555;
}

#cs-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80%;
    align-items: start;
}

.available-time {
    font-size: 12px;
    color: #555555;
}

.logo {
    margin-top: 2rem;
}

a:hover, card:hover, .btn:hover {
    cursor: pointer;
}

#introduction-detail {
    border-left: 1px solid lightgray;
    padding-left: 2rem;
}

#introduction-detail p {
    font-size: 12px;
    color: #555555;
    margin: 0;
}

#introduction-detail .btn {
    padding: 5px 10px;
    border: lightgray 1px solid;
    font-size: 12px;
    width: 150px;
}

#time-sale .ticket-price .price {
    font-size: 12px;
    font-weight: bolder;
}

#time-sale .ticket-price .discount {
    font-size: 12px;
    font-weight: bolder;
    color: #FF0000;
}

#time-sale .ticket-price .rating {
    font-size: 12px;
    font-weight: bolder;
}

#time-sale .ticket-price .rating span {
    font-weight: normal;
}

/* board.html */

#board-body {
    background-color: #f4f4f4;
}

#extra-info\ board {
    background-color: white;
}

#board-main {
    height: 920px;
    width: 1100px;
}

#board-main aside, #board-main section {
    height: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

#board-main aside {
    width: 280px;
}

#board-main section {
    width: 800px;
}

#board-main .title {
    font-size: 24px;
    font-weight: bolder;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin: 0 16px;
}

#board-main .list-group-item {
    border: none;
}

#board-main .list-group-item a {
    font-weight: bold;
}

#board-content {
    padding: 1rem;
}

#board-content .title {
    border-bottom: none;
}

.dropdown-menu {
    width: 100px;
    height: 100px;
    transform: translateX(-40px);
    text-align: center;
    display: none;
    padding: 0;
}

.site-logo {
    text-decoration: none;
    color: #ff4b4b;
    font-size: 30px;
    font-weight: bold;
}

