@charset "UTF-8";

element.style {
}
#top_gnb li {
    float: left;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}
ul, li, dl, dt, dd {
    list-style: none;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', 'Pretendard Variable', 'Malgun Gothic';
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
body, table {
    word-break: break-all;
    font-size: 13px;
    font-weight: 400;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}